.menu-container {
  padding: 20px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.carrinho-btn{
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #bebebe;
  border-radius: 100%;
  z-index: 100;
}

.logout-btn{
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}
.menu-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.menu-categories {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.menu-category {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  color: #555;
}

.menu-category.active,
.menu-category:hover {
  background-color: #2575fc;
  color: white;
}

.menu-item-image{
  padding-right: 10px;
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}
.menu-item2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-item-info h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #333;
}

.menu-item-info p {
  font-size: 0.9rem;
  color: #777;
}

.menu-item-price {
  font-size: 1rem;
  font-weight: bold;
  color: #2575fc;
}

.menu-icon-container {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 100;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  left: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  display: none;
  z-index: 100;
}

.dropdown-menu.active {
  display: block;
}

.dropdown-menu-item {
  padding: 10px 20px;
  font-size: 1rem;
  color: #333;
  text-decoration: none;
  display: block;
  background-color: #fff;
  transition: background-color 0.3s;
}

.dropdown-menu-item:hover {
  background-color: #f0f0f0;
}
